# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\pycharm2021project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
